@charset "UTF-8";

@font-face {
  font-family: "Fredoka";
  src: url("Font/Fredoka-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Fredoka', Arial, Helvetica, sans-serif;
    color: black;
}

:root {
    --spacing: 2.0rem;
    --tracking: 0.25rem;
    --title: min(2.5vw, 5.5rem);
    --thickness: 1.0rem;
}

html {
    font-size: 62.5%;
}

body {
    padding: var(--spacing);
    width: 100%;
    overflow-y: scroll;
}

header {
    margin-top: var(--spacing);
    margin-right: calc(var(--tracking) * -1);
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: var(--title);
    letter-spacing: var(--tracking);
}

main {
    width: 100%;
}

footer {
    margin-bottom: var(--spacing);
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: calc(var(--title) * 2);
}

.section-divider {
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    border-radius: calc(var(--thickness) / 2);
    width: 100%;
    height: var(--thickness);
    background-color: black;
}

.content-divider {
    margin-top: calc(var(--spacing) / 2);
    margin-bottom: calc(var(--spacing) / 2);
    border-radius: calc(var(--thickness) / 4);
    width: 100%;
    height: calc(var(--thickness) / 2);
    background-color: grey;
}

.tab-component {
    border: calc(var(--thickness) / 2), solid, grey;
    border-radius: calc(var(--thickness));
    width: 100%;
    background-color: white;
    overflow: auto;
}

.tab-menu {
    display: flex;
}

.tab-menu a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1.0rem;
    background-color: lightgrey;
    text-align: center;
    text-decoration: none;
    color: grey;
    font-size: clamp(1.0rem, 2.0vw, 5.0rem);
    letter-spacing: 0.125rem;
    transition: all 0.25s ease;
    cursor: pointer;
}

.tab-menu a[aria-selected="true"] {
    background-color: white;
    font-weight: bold;
    color: black;
}

.tab-menu a:hover {
    font-weight: bold;
    color: black;
    letter-spacing: 0.5rem;
}

.tab-content-container {
    padding: var(--spacing);
}

.tab-content-container h2 {
    margin-right: -0.5rem;
    text-align: center;
    font-size: clamp(1.0rem, 2.5vw, 5.0rem);
    font-weight: bold;
    letter-spacing: 0.5rem;
}

.tab-content-container p {
    text-align: left;
    font-size: clamp(1.0rem, 2.0vw, 2.5rem);
    line-height: 2.0;
}

.project-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-logo {
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    display: block;
}

.project-icon {
    width: 12.5%;
    text-align: right;
}

.project-icon img {
    border: 0.125rem solid grey;
    max-width: 100%;
    height: auto;
}

.grid-container {
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    border: 0.125rem solid grey;
    width: 100%;
    display: grid;
}

.grid-container > div {
    border: 0.125rem solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.schema {
    padding: 1.0rem;
    background-color: lightgrey;
    text-align: center;
    font-size: min(2.0vw, 2.5rem);
    color: black;
}

.game-image {
    width: 100%;
    height: auto;
}

.game-video {
    width: 100%;
    height: auto;
}

@media all and (max-width: 750px) {
    .grid-container.first-grid {
        grid-template-rows: repeat(5, auto);
    }

    .grid-container.second-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
    }

    .grid-container.second-grid > div:nth-child(1) {
        grid-column: 1 / span 2;
    }

    .grid-container.second-grid > div:nth-child(6) {
        grid-column: 1 / span 2;
    }
}

@media all and (min-width: 751px) {
    .grid-container.first-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .grid-container.first-grid > div:nth-child(1) {
        grid-column: 1 / span 4;
    }

    .grid-container.second-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);
    }

    .grid-container.second-grid > div:nth-child(1) {
        grid-column: 1 / span 4;
    }

    .grid-container.second-grid > div:nth-child(6) {
        grid-column: 1 / span 4;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        color: white;
    }

    body {
        background-color: black;
    }

    .section-divider {
        background-color: white;
    }

    .tab-component {
        background-color: black;
    }

    .tab-menu a {
        background-color: darkgrey;
        color: grey;
    }

    .tab-menu a[aria-selected="true"] {
        background-color: black;
        color: white;
    }

    .tab-menu a:hover {
        color: white;
    }

    .project-logo {
        filter: invert(100%);
    }

    .schema {
        background-color: darkgrey;
        color: white;
    }
}
