@charset "UTF-8";

#title {
    text-align : center;
    font-family : Arial, Helvetica, sans-serif;
    font-weight : bold;
    font-size : 5vw;
}

#chapter {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5vw;
}

#verse {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.0vw;
}

#divider {
    width : 100%;
    height : 10px;
    background-color : grey;
    border-top : 0px solid transparent;
    border-bottom : 0px solid transparent;
    border-left : 0px solid transparent;
    border-right : 0px solid transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

#perforations {
    width : 90%;
    border-top : 5px dotted grey;
    border-bottom : 0px solid transparent;
    border-left : 0px solid transparent;
    border-right : 0px solid transparent;
}

#element {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100%;
}
